@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

/* header를 전체 너비로 설정하고 아래에 선 표시 */
header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

/* header가 들어갈 div의 크기를 설정 (부모요소로 사용할) */
header .inner {
  width: 1180px;
  height: 120px;
  margin: 0px auto;
  /* 자식 absolute 요소의 기준점 설정 */
  position: relative;
}

/* 웹페이지 타이틀 설정 */
header .inner h1 {
  position: absolute;
  left: 0px;
  bottom: 15px;
}

header .inner h1 a {
  /* font-weight: bold; font-size: 24px; line-height: 1; font-family: "arial"; 의 축약형 */
  font: bold 24px/1 "arial";
  color: #444;
}

/* 오른쪽 상단 유틸 메뉴 설정 */
header .inner .util {
  /* absolute로 부모요소 안에는 있지만 자유롭게 위치 설정을 할 수 있도록 한다. */
  position: absolute;
  /* 위치 조정 (위치로부터의 간격을 나타낸다) */
  top: 20px;
  right: 30px;
}

header .inner .util li {
  /* 각 요소를 왼쪽부터 가로로 배치한다. */
  float: left;
}

header .inner .util a {
  /* 인라인 요소의 크기를 조절하기 위해 block으로 변경 */
  display: block;
  /* 텍스트 설정 */
  font: 12px/1 "arial";
  color: #999;
  padding: 0px 10px;
}

/* 상단 메뉴 설정 */
header .inner #gnb {
  /* absolute로 부모요소 안에는 있지만 자유롭게 위치 설정을 할 수 있도록 한다. */
  position: absolute;
  /* 위치 조정 */
  bottom: 0px;
  right: 0px;
}

header .inner #gnb li {
  float: left;
}

header .inner #gnb li a {
  /* 인라인 요소의 크기를 조절하기 위해 block으로 변경 */
  display: block;
  font: bold 15px/1 "arial";
  color: #555;
  padding: 20px 40px;
}

/* 메뉴에 마우스를 올렸을 때의 변형 설정 */
header .inner #gnb li a:hover {
  color: #fff;
  background: #555;
}

/* visual(figure) */

figure {
  width: 100%;
  /* 전체 브라우저 높이에서 120px 만큼 빼준다 (사용자의 브라우저는 각각 달라서 이 설정으로 호환할 수 있게 해준다.) */
  height: calc(100vh - 120px);
  background: #000;
  position: relative;
  /* 브라우저 화면을 넘어가는 내용을 숨긴다 */
  overflow: hidden;
  padding-top: 250px;
}

figure video {
  /* 영상을 figure 영역 안에 꽉 차도록 설정 */
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* figure 텍스트 설정 */
figure .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}

figure .inner h1 {
  color: #fff;
  font: normal 120px/1 "arial";
  margin-bottom: 20px;
}

figure .inner p {
  font: 16px/1.4 "arial";
  color: #888;
  margin-bottom: 60px;
}

figure .inner a {
  display: block;
  width: 400px;
  height: 30px;
  border: 1px solid #bbb;
  /* line-height 값을 높이값과 똑같이 설정하면 해당 영역 안에서 세로 가운데 정렬 가능 */
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.5s;
}

figure .inner a:hover {
  color: #555;
  background: #fff;
}

/* news (section) */

section {
  width: 100%;
  padding: 100px 0px;
}

/* section 내부요소 중앙 정렬 */
section .inner {
  width: 1180px;
  margin: 0px auto;
}

/* section 타이틀 설정 */
section .inner h1 {
  font: bold 24px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 50px;
}

/* section 콘텐츠 요소 너비 전체 설정 */
section .inner .warp {
  width: 100%;
}

/* 자식 요소인 article의 float 속성 해제 */
section .inner .warp::after {
  content: "";
  display: block;
  clear: both;
}

/* section 콘텐츠 크기 설정 */
section .inner .warp article {
  width: 280px;
  float: left;
  margin-right: 20px;
}

/* 마지막 요소의 오른쪽 여백만 제거 */
section .inner .warp article:last-child {
  margin-right: 0px;
}

/* section 사진 프레임 설정 */
section .inner .warp article .pic {
  width: 100%;
  height: 120px;
  background: #333;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

/* 사진 프레임에 채우기 */
section .inner .warp article .pic img {
  /* pic 프레임 안에 이미지를 꽉 채움 */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section .inner .warp article h2 {
  margin-bottom: 10px;
}

section .inner .warp article h2 a {
  font: bold 16px/1 "arial";
  color: #555;
}

section .inner .warp article p {
  font: 14px/1.4 "arial";
  color: #777;
}

/* footer */

footer {
  width: 100%;
  background: #333;
  padding: 50px 0px;
  border-top: 1px solid #888;
}

footer .inner {
  width: 1180px;
  margin: 0px auto;
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
}

/* 상단 영역 float 해제 */
footer .inner .upper::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper h1 {
  float: left;
  font: bold 24px/1 "arial";
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}

footer .inner .lower {
  width: 100%;
  padding-top: 20px;
}

footer .inner .lower address {
  width: 100%;
  font: 12px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}
